<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
    {% if page.keyword %}<meta name="keyword" content="{{ page.keyword }}">{% else %}<meta name="keyword" content="{{ site.keyword }}">{% endif %}

    <!-- 资源预加载 -->
    <link rel="preload" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}" as="style">
    <link rel="preload" href="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}" as="script">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/image/favicon.ico">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- DNS 预解析 - 优化外部资源加载 -->
    <link rel="dns-prefetch" href="//cdn.staticfile.org">
    <link rel="dns-prefetch" href="//cdn.bootcss.com">

    <!-- 合并后的 CSS 文件（使用 preload 提升加载性能） -->
    <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">

    <!-- Font-Awesome - 使用更快的 CDN -->
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="print" onload="this.media='all'">
    <noscript><link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></noscript>

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- 防止夜间模式闪屏 - 必须在 CSS 之前执行 -->
    <script>
      (function() {
        const theme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>

    <!-- MathJax 异步加载配置 - 延迟加载以提升首屏性能 -->
    <script>
      // 只在包含数学公式的页面加载 MathJax
      (function() {
        var needsMathJax = false;
        // 检查页面内容是否包含数学公式标记
        if (document.body.innerHTML.indexOf('$$') !== -1 ||
            document.body.innerHTML.indexOf('$') !== -1 ||
            document.body.innerHTML.indexOf('\\(') !== -1) {
          needsMathJax = true;
        }

        if (needsMathJax) {
          window.MathJax = {
            showProcessingMessages: false,
            messageStyle: "none",
            tex2jax: {
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
              inlineMath: [['$','$']],
              ignoreClass:"class1"
            },
            "HTML-CSS": {
              showMathMenu: false
            },
            skipStartupTypeset: true
          };

          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.async = true;
          script.src = 'https://cdn.bootcss.com/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
          document.getElementsByTagName('head')[0].appendChild(script);
        }
      })();
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
